# Python
__pycache__/
.venv/
*.pyc
*.pyo
*.pyd

# Database & Data
data/

# Node / Frontend
node_modules/
/app/static/css/app.css
/app/static/js/*.min.js

# Build artifacts
dist/
build/
*.log

# Language files
*.mo

# Docs
docs/

# Git
.git
.gitignore
