# Python
__pycache__/
.venv/
*.pyc
*.pyo
*.pyd

# Database & Data
data/

# Environment
.env
.env.local

# Node / Frontend
node_modules/
package-lock.json
/app/static/css/app.css
/app/static/js/*.min.js

# Build artifacts
dist/
build/
*.log

# Docs
docs/docs/
docs/static/openapi.json