.downloadContainer {
  display: flex;
  align-items: center;
}

.downloadButton {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.dropdownContainer {
  position: relative;
  display: inline-block;
  z-index: 100;
}

.dropdownToggle {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 10px;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
}

.dropdownMenu {
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdownMenu li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdownMenu li:hover {
  background-color: #ddd;
}
