{% extends "base.html" %}

{% block title %}{{ _('%(playlist_name)s - Playlist') % { 'playlist_name': playlist.name } }}{% endblock %}

{% block content %}
  {% set title = playlist.name %}
  {% set subtitle = playlist.description or _("No description.") %}
  {% include "partials/header.html" %}

  {# Create a dictionary for the filter form partial #}
  {%
    set context = {
        "filters": filters,
        "all_producers": all_producers,
        "all_voicebanks": all_voicebanks,
        "pagination": pagination,
        "show_status_filter": false,
        "show_rating_filter": false,
        "show_pagination_limit_filter": true,
        "show_scrape_button": false
    }
  %}
  {% include "partials/filter_form.html" %}
  {% set pagination_spacing_class = "mb-4" %}
  {% include "partials/pagination_controls.html" %}

  <div
    class="overflow-x-visible rounded border border-none border-border bg-card-bg shadow-md md:overflow-x-auto"
  >
    <table class="w-full border-collapse">
      {% include "partials/tracks_table_head.html" %}
      <tbody
        id="tracks-table-body"
        data-update-url="/api/playlist/{{ playlist.id }}/get_tracks"
        data-snapshot-url="/api/playlist/{{ playlist.id }}/playlist-snapshot"
      >
        {# The initial, paginated track list is rendered here #}
        {% include "partials/tracks_table_body.html" %}
      </tbody>
    </table>
  </div>

  {% set pagination_spacing_class = "mt-8" %}
  {% include "partials/pagination_controls.html" %}

  <script src="{{ url_for('static', path='js/main.min.js') }}"></script>
{% endblock %}
