{% extends "base.html" %}

{% block title %}{{ playlist.name }} - Playlist{% endblock %}

{% block content %}
  {% set title = playlist.name %}
  {% set subtitle = playlist.description or "No description." %}
  {% include "partials/header.html" %}

  <div
    class="overflow-x-visible rounded border border-none border-border bg-card-bg shadow-md md:overflow-x-auto"
  >
    <table class="w-full border-collapse">
      <thead
        id="tracks-table-head"
        class="hidden bg-table-header md:table-header-group"
      >
        <!-- Header without sorting links -->
        <tr>
          <th
            class="w-1 min-w-52 border border-border px-3 py-2 text-left whitespace-nowrap"
          >
            Image
          </th>
          <th
            class="w-1 min-w-0 border border-border p-0 px-3 py-2 text-left whitespace-nowrap"
          >
            #
          </th>
          <th
            class="w-1/3 max-w-64 overflow-hidden border border-border px-3 py-2 text-left text-ellipsis whitespace-nowrap"
          >
            Title
          </th>
          <th
            class="max-w-64 overflow-hidden border border-border px-3 py-2 text-left text-ellipsis"
          >
            Producer
          </th>
          <th
            class="max-w-64 overflow-hidden border border-border px-3 py-2 text-left text-ellipsis"
          >
            Voicebank
          </th>
          <th class="w-1 min-w-0 border border-border px-3 py-2 text-left">
            Published
          </th>
          <th class="w-1 min-w-0 border border-border px-3 py-2 text-left">
            My Rating
          </th>
        </tr>
      </thead>

      <tbody id="tracks-table-body">
        {% set tracks = playlist.playlist_tracks | map(attribute='track') | list %}
        {% include "partials/tracks_table_body.html" %}
      </tbody>
    </table>
  </div>

  <script src="{{ url_for('static', path='js/main.js') }}"></script>
{% endblock %}
