name: Build for Latest Release

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  build-and-upload:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        include:
          - os: windows-latest
            artifact: vocaloid-rate-windows.zip
          - os: ubuntu-latest
            artifact: vocaloid-rate-linux.zip
          - os: macos-latest
            artifact: vocaloid-rate-macos.zip

    runs-on: ${{ matrix.os }}
    name: Build & Upload for ${{ matrix.os }}

    permissions:
      contents: write

    steps:
      - name: Get Latest Release Tag
        id: get_latest_release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          $latest_tag = gh release list --repo "${{ github.repository }}" --limit 1 --json tagName --jq '.[0].tagName'
          echo "latest_tag=$latest_tag" >> $env:GITHUB_ENV
        shell: pwsh

      - name: Checkout code for the latest tag
        uses: actions/checkout@v4
        with:
          ref: ${{ env.latest_tag }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Set up Bun
        uses: oven-sh/setup-bun@v1

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install pyinstaller pillow
          bun install --frozen-lockfile

      - name: Build and Package
        run: |
          bun run build
          bun run package
          bun run clean:static

      - name: Prepare Release ZIP (Windows)
        if: runner.os == 'Windows'
        run: |
          New-Item -ItemType Directory -Force -Path ./vocaloid-rate
          Move-Item ./dist/vocaloid-rate/* ./vocaloid-rate/
          7z a -tzip ${{ matrix.artifact }} ./vocaloid-rate/*
        shell: pwsh

      - name: Prepare Release ZIP (Linux/macOS)
        if: runner.os != 'Windows'
        run: |
          mv ./dist/vocaloid-rate ./vocaloid-rate
          zip -r ${{ matrix.artifact }} ./vocaloid-rate
        shell: bash

      - name: Upload Asset to Latest Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.latest_tag }}
          files: ${{ matrix.artifact }}
